page-videos {
    ion-content{
        background-color: #6a8460;
        ion-list ion-item video{
            width: 100%;
        }
        ion-item{
            width: 100%;
        }
        video{
            width: 100%;
        }
    }
}
